
extends layout

block content
  if (!user)
      nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand", href="#") SCRATCH MAP?
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="globalNavbar")
          ul(class="navbar-nav ml-auto navbar-right")
            li(class="nav-item active")
              a(class="nav-link" href="/") Home 
                span(class="sr-only") current
            li(class="nav-item dropdown")
              //- a(class="nav-link" href="/login") Login
              a(class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Login
              div(class="dropdown-menu dropdown-menu-lg-right")
                form(id="loginForm" class="px-4 py-3" role='form' action="/login" method="post" max-width="300px")
                  div(class="form-group")
                    label(for="username") Email address/Username
                    input(name="username" type="text" class="form-control" id="username")
                  div(class="form-group")
                    label(for="password") Password
                    input(name="password" type="password" class="form-control" id="password")
                  div(class="form-group")
                    div(class="form-check")
                      input(type="checkbox" class="form-check-input" id="dropdownCheck")
                      label(class="form-check-label" for="dropdownCheck") Remember me
                  button(type="submit" class="btn btn-primary") Sign in
            li(class="nav-item")
              a(class="nav-link" href="/register") Register


    //- a(href="/login") Login
    //- br
    //- a(href="/register") Register
  //- if (user)
    p You are currently logged in as #{user.username}
    p Countries you've been to
      div 
      h2 North America
      br
      form(action="/submit-country", method="post", style='max-width: 300px;')
        p Country:
        ul
        each val in ["a", "b", "c"]
          li= val
        input.form-control(type='text', name="country-name", placeholder='Enter country name', autocomplete="off")
        button.btn.btn-default(type='submit') Submit
     
      h2 South America
      br
      form(action="/submit-country", method="post", style='max-width: 300px;')
        p Country:
        input.form-control(type='text', name="country-name", placeholder='Enter country name',autocomplete="off")
        button.btn.btn-default(type='submit') Submit
      
      h2 Europe
      br
      form(action="/submit-country", method="post", style='max-width: 300px;')
        p Country:
        input.form-control(type='text', name="country-name", placeholder='Enter country name',autocomplete="off")
        button.btn.btn-default(type='submit') Submit
      
      h2 Africa
      br
      form(action="/submit-country", method="post", style='max-width: 300px;')
        p Country:
        input.form-control(type='text', name="country-name", placeholder='Enter country name',autocomplete="off")
        button.btn.btn-default(type='submit') Submit
      
      h2 Asia
      br
      form(action="/submit-country" method="post", style='max-width: 300px;')
        p Country:
        input.form-control(type='text', name="country-name", placeholder='Enter country name',autocomplete="off")
        button.btn.btn-default(type='submit') Submit
      
      h2 Oceania
      br
      form(action="/submit-country" method="post", style='max-width: 300px;')
        p Country:
        input.form-control(type='text', name="country-name", placeholder='Enter country name',autocomplete="off")
        button.btn.btn-default(type='submit') Submit
      
      div
    br
    a(href="/logout") Logout