extends layout

block content
  //- Global navigation bar
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand", href="#") Mappit?
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="globalNavbar")
          ul(class="navbar-nav ml-auto navbar-right")
            li(class="nav-item")
              a(class="nav-link" href="/") Home 
            li(class="nav-item active")
              a(class="nav-link" href="/login") Login
                span(class="sr-only") current
            li(class="nav-item")
              a(class="nav-link" href="/register") Register

  .container(id="loginForm")
    h1 Log in to Mappit
    p.lead 
    br
    div
      form.needs-validation(novalidate role='form' action="/login" method="post" style='max-width: 300px;')
        div.form-group
          input.form-control(type='text', name="username", autocomplete="off" ng-model="userName" required)
          label(for="username" class="animated-label") Username
          div.valid-feedback Looks good!
          div.invalid-feedback Please fill in username
        div.form-group
          input.form-control(type='password', name="password" required)
          label(for="password" class="animated-label") Password
          div.invalid-feedback Please fill in password
        button.btn.btn-primary(type='submit') Submit
        &nbsp;
        a(href='/')
        button.btn.btn-secondary(type="button") Cancel