extends layout

block content
  if (user)
    p You are currently logged in as #{user.username}
    p Countries you've been to
      div(class="section-map-list")
          h2 North America
          br
          .form-group(action="/submit-country", method="post", style='max-width: 300px;')
            each country in northAmericanCountries
                p
                  input(type='checkbox', value= country)
                  = country
          button.btn.btn-default(type='submit') Submit
        
          h2 South America
          br
          .form-group(action="/submit-country", method="post", style='max-width: 300px;')
            each country in southAmericanCountries
                p
                  input(type='checkbox', value= country)
                  = country
          button.btn.btn-default(type='submit') Submit
          
          h2 Europe
          br
          .form-group(action="/submit-country", method="post", style='max-width: 300px;')
            each country in europeanCountries
                p
                  input(type='checkbox',value= country)
                  = country
              br
          button.btn.btn-default(type='submit') Submit
          
          h2 Africa
          br
          .form-group(action="/submit-country", method="post", style='max-width: 300px;')
            each country in africanCountries
                p
                  input(type='checkbox',value= country)
                  = country
          button.btn.btn-default(type='submit') Submit
          
          h2 Asia
          br
          .form-group(action="/submit-country", method="post", style='max-width: 300px;')
            each country in asianCountries
                p
                  input(type='checkbox',value= country)
                  = country
          button.btn.btn-default(type='submit') Submit
          
          h2 Oceania
          br
          .form-group(action="/submit-country", method="post", style='max-width: 300px;')
            each country in oceanicCountries
                p
                  input(type='checkbox',value= country)
                  = country
          button.btn.btn-default(type='submit') Submit
      div
    br
    a(href="/logout") Logout