body {
  /* padding: 50px; */
  /* padding-top: 70px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  font-family: Arial;
}

#loginForm{
  padding: 50px;
  text-align: center;
  align-content: center;
  
}

label{
  align-self: unset
}

#mapDiv {
  width: 100%;
  height: 500px;
  /* background-color:rgba(83, 83, 100, 1); */
}



